.content {
  background-image: url("../image/amarillo.jpg");
  width: 100vw;
  height: 100vh;
 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x:auto;
  background-position:bottom;

}



.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
}



.label{
color: rgb(19, 28, 28);
width: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  position: relative 
}


.content_select{
  display: flex;
  
}

.input{
  transition: all .4s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  position: relative ;
  border-radius:  6px;
  border:0cm;
  background-color: #f6efe7;
  width: 300px;
  height: 30px;
  font-size: 20px;
  
  
}

.input:focus{
  background-color: rgb(246, 243, 211);
}

.btn_crear {
  color: #445d7a;
  background-color: #eee308;
  border: #000;
  border-radius: 10px;
  height:30px;
  font-size: 20px;
  margin: 5px;
  transition: step-start 
}   
.btn_crear:hover{ 
  background-color: #a39b0d;
  color: red;
}


.btn_close {
  color: #445d7a;
  background-color: #eee308;
  border: #000;
  border-radius: 10px;
  height:20px;
  font-size: 12px;
  margin: 5px;
  transition: step-start 
}   
.btn_close:hover{ 
  background-color: #a39b0d;
  color: red;
}



.errors {
   
    color: red;
   
  }
 .errorInput {
   background-color: rgb(241, 154, 154);
   transition: all .4s ease-in-out;
   display: flex;
   flex-wrap: wrap;
   position: relative ;
   border-radius:  6px;
   border:0cm;
  
   width: 300px;
   height: 30px;
   font-size: 20px;
    
  }
  .errorInput:focus{
    background-color: rgb(193, 110, 78);
    
  }

  .addType{
    background-color: coral;
    border-radius: 5px;
    font-size: 23px;
    
  }